{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Header Section --}}
<div class = "container">
    <div class = "jumbotron text-center col-md-12">'
        <div class = "container">
            <h1 class = "display-4">Eat Da Burger</h1>
        </div>
    </div>
</div>

{{!-- Burgers waiting to be Devoured --}}
<div class = "row">
    <div class = "col-md-4">
        <div class = "card text-light bg-dark" style="max-width: 50%">
            <div class="card-header">
                <strong>Burgers Waiting to Be Devoured</strong>
            </div>
            <div class="card-body">
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
{{!-- Input to add new Burgers --}}
<div class = "col-md-4">
    <div class = "card text-light bg-dark" style="max-width: 50%">
        <div class="card-header">
            <strong>Add a new Burger</strong>
        </div>
    </div>
</div>

{{!-- Devoured Burgers --}}
<div class = "col-md-4">
    <div class = "card text-light bg-dark" style="max-width: 50%">
        <div class="card-header">
            <strong>Devoured Burgers</strong>
        </div>
    </div>
</div>


