{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

{{!-- Header Section --}}
<div class = "container">
    <div class = "jumbotron text-center col-md-12">'
        <div class = "container">
            <h1 class = "display-4">Eat Da Burger</h1>
        </div>
    </div>
</div>

{{!-- Burgers waiting to be Devoured --}}
<div class = "row">
    <div c;ass = "col-md-4">

    </div>
</div>





{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}