/* Burger Styles will go here */
* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: rgb(233, 227, 227);
  height: 100vh;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

ul {
  padding: 5px;
}

button {
    margin-left: 10px;
  }